languageCode = "fr-fr"
DefaultContentLanguage = "fr"
title = "DIME-SHS"

disableKinds = ["taxonomyTerm", "taxonomy"]

enableMissingTranslationPlaceholders = true
FootnoteReturnLinkContents = "↩"

[languages]
  [languages.fr]
    languageName = "Français"
    languageCode = "FR"
    weight = 1

  [languages.en]
    languageName = "English"
    languageCode = "EN"
    weight = 2
