@mixin link-state ($normal, $active) {
  @extend .#{$normal};

  &:hover,
  &:focus {
    @extend .#{$active};
  }
}

@mixin border-state ($normal, $active) {
  @extend .b--#{$normal};

  &:hover,
  &:focus {
    @extend .b--#{$active};
  }
}

.toggle-u-nou {
  @extend .no-underline;

  &:hover,
  &:focus {
    @extend .underline;
  }
}

.break-word {
  overflow-wrap: break-word;
}
