@import 'components/links';

.list-inline {
  list-style: inline;
}

.list-position-inside {
  list-style-position: inside;
}

.list-outside{
  list-style-position: outside;
}

@media #{$breakpoint-not-small} {
  .list-inline-ns {
    list-style: inline;
  }

  .list-ns {
    list-style-type: none;
  }
}

.badges-list {
  @extend .pa0;
  @extend .mv4;

  > ol,
  > ul {
    @extend .flex;
    @extend .flex-wrap;
    @extend .items-start;
    @extend .list;

    > li {
      @extend .mr3;
      @extend .mb3;
    }

    img {
      @extend .ba;
      @extend .bw1;
      @extend .b--mid-gray;
      @extend .br-100;
      @extend .mw3;
    }

    a > img {
      @extend .b--link-color;
    }
  }
}
