.w-measure {
  width: $measure;
}

.w-measure-narrow {
  width: $measure-narrow;
}
.w-measure-wide {
  width: $measure-wide;
}
.w-45 {
  width: 45%;
}

@media #{$breakpoint-medium} {
  .w-45-m {
    width: 45%;
  }
}
