<header class="pv3 ph5 bg-white" role="banner">

  <div class="flex">
    <a class="f-headline lh-solid w-20" rel="author" href="{{ "/" | relative_url }}">
      <img src="{{ '/img/logo-DIME-SHS.svg' | relative_url }}" alt="{{ site.title | escape }}">
    </a>

    {%- assign pages = site.pages | sort: 'title' -%}
    {%- if pages -%}
    <nav class="">
      <ul class="flex list flex-wrap">
        {%- for page in pages -%}
          {%- if page.title -%}
          <li class="pa3">
            <a class="page-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
          </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </nav>
    {%- endif -%}
  </div>
</header>
