<!DOCTYPE html>
<html lang="{{ .Page.Lang }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {{- $css := resources.Get "main.scss" | toCSS -}}
  {{- $main := resources.Get "main.js" -}}
  {{- $menuspy := resources.Get "vendor/menuspy.js" -}}
  <link rel="preload" href="{{ $css.RelPermalink | relURL }}" as="style">
  <link rel="preload" href="{{ $menuspy.RelPermalink | relURL }}" as="script">
  <link rel="preload" href="{{ $main.RelPermalink | relURL }}" as="script">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Page.Title }} • {{ .Site.Title }}</title>
  {{- template "_internal/opengraph.html" . -}}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
  <link href="{{ $css.RelPermalink | relURL }}" rel="stylesheet" >
  <script src="{{ $menuspy.RelPermalink | relURL }}"></script>
  <script src="{{ $main.RelPermalink | relURL }}"></script>
  <link rel="shortcut icon" href="https://www.sciencespo.fr/sites/all/themes/SPresponsive/images/favicon.png">
</head>
{{- $PageStyles := union (default .Page.Params.options slice) (default .Page.CurrentSection.Params.options slice) -}}
<body{{ with $PageStyles }} class="{{ delimit . " " }}"{{ end }}>
{{ template "_internal/schema.html" . }}
{{ partial "header.html" . }}

{{ block "main" . }}
<section data-section="{{ .Page.Kind }}">
  <aside class="table-of-contents" role="aside">
    {{ block "toc" . }}{{ end }}
  </aside>

  <main role="main">{{ block "content" . }}{{ end }}</main>

  <aside role="aside"></aside>
</section>
{{ end }}

{{ partial "footer.html" . }}
</body>
</html>
