{{ define "content" }}
<h1>{{ .Page.Title }}</h1>

<div class="lh-copy f4">
  {{ .Page.Content }}
</div>

{{ range .Site.Data.enquetes }}
<section class="bibliography">
  <h2>{{ .title }}</h2>

  {{ range .items }}
  <article class="bibliography-entry">
    <h3>{{ .title }}</h3> ({{ .date }})
    <span>{{ delimit (.auteurs | default slice) ", " " et " }}</span>

    <aside>
      <ul class="list">
      {{- with .lien_cdsp -}}
        <li><a href="{{ . }}" target="_blank">Présentation de l'enquête</a></li>
      {{- end -}}
      {{- with .lien_doi -}}
        <li><a href="{{ . }}" target="_blank">L'enquête sur l'enquête</a></li>
      {{- end -}}
      </ul>
    </aside>
  </article>
  {{ end }}
</section>
{{ end }}


{{ end }}
