{{ define "content" }}
<h1>{{ .Page.Title }}</h1>

<div class="lh-copy f4">
  {{ .Page.Content }}
</div>

{{- $suffix := string (delimit (slice "." .Site.Language) "") -}}
{{- range $key, $Data := .Site.Data.enquetes -}}
{{- if len (findRE $suffix $key) -}}
<section class="bibliography">
  <h2>{{ $Data.title }}</h2>

  {{ range $Data.items }}
  <article class="bibliography-entry">
    <article class="bibliography-entry__body">
      <h3>{{ .title }}</h3> ({{ .date }})
      <span class="authors">{{ delimit (.authors | default slice) ", " (i18n "and") }}.</span>
    </article>

    <aside class="bibliography-entry__metadata">
      <ul>
      {{- with .lien_cdsp -}}
        <li><a href="{{ . }}" target="_blank">{{ i18n "survey_presentation" }}</a></li>
      {{- end -}}
      {{- with .lien_doi -}}
        <li><a href="{{ . }}" target="_blank">{{ i18n "survey_view_doi" }}</a></li>
      {{- end -}}
      {{- with .lien_web -}}
        <li><a href="{{ . }}" target="_blank">{{ i18n "survey_view_web" }}</a></li>
      {{- end -}}
      {{- if and (not .lien_cdsp) (not .lien_doi) (not .lien_web) -}}
      <li>{{ i18n "to_be_released" }}</li>
      {{- end -}}
      </ul>
    </aside>
  </article>
  {{ end }}
</section>
{{- end -}}
{{- end -}}


{{ end }}
