{{ define "content" }}
<h1>{{ .Page.Title }}</h1>

<div class="lh-copy f4">
  {{ .Page.Content }}
</div>

{{- $Tools := where .Site.Pages "Dir" "instruments/outils/" -}}
{{- $Instruments := where (where .Site.Pages "Kind" "page") "Dir" "instruments/" -}}

{{ range $Instruments }}
{{- $id := .File.TranslationBaseName -}}
<section>
  <h2>{{ .Title }}</h2>

  <ul class="cards-list">
  {{ range where $Tools "Params.parent" $id }}
  <article class="card">
    <h3 class="card__title">{{ .Title }}</h3>

    <div class="card__body">{{ .Content }}</div>

    {{ with .Params.website }}
    <footer class="card__footer">
      <a href="{{ . }}" class="website" target="_blank">{{ i18n "view_tool" }}</a>
    </footer>
    {{ end }}
  </article>
  {{ end }}
  </ul>
</section>
{{ end }}


{{ end }}
