{{ define "content" }}
<h1>{{ .Page.Title }}</h1>

<div class="lh-copy f4">
  {{ .Page.Content }}
</div>

{{- $labels := .Site.Params.publicationsLabels -}}

{{ range $key, $items := .Site.Data.publications }}
<section class="bibliography">
  <h2>{{ (index $.Site.Params.publications $key).name }}</h2>

  {{- range $labels -}}
  {{- $type := . -}}
  {{- with (where $items "type" $type) -}}
    <section class="bibliography-section" id="{{$key}}-{{anchorize $type}}">
      <h3>{{ humanize (i18n (delimit (slice "mapping" $type) "_")) }}</h3>

      {{ range (sort (sort . "title" "asc") "date" "desc") }}
      {{- $Publication := . -}}
      <article class="bibliography-entry bibliography-entry--quiet">
        <article class="bibliography-entry__body">
          <span class="authors">{{ delimit (.authors | default slice) ", " " et " }}</span>.
          <span class="date">{{ string .date }}</span>.
          {{ if isset . "url" }}
          <span class="title"><a href="{{ .url }}" target="_blank">{{ trim .title " \n" }}</a></span>.
          {{ else }}
          <span class="title">{{ trim .title " \n" }}</span>.
          {{ end }}
          {{ with .publication }}
          <span class="publication">{{ . }}</span>
          {{- with $Publication.issue }}
            {{.}}
            {{- with $Publication.volume }}
              ({{.}})
            {{- end -}}: {{ end }}
          {{- with $Publication.pages -}}{{.}}{{ end }}.
          {{ end }}
          {{ with .source }}
          <span class="source">{{ . }}</span>.
          {{ end }}
        </article>
      </article>
      {{ end }}
    </section>
  {{- end -}}
  {{- end -}}
</section>
{{ end }}

{{ end }}
