@import 'components/lists';
@import 'components/plus-minus';

.article,
.page {
  @extend .mb5;
  .article__title {
    @extend .f2;
    @extend .mt0;
    @extend .lh-title;
  }

  .article__body,
  .page__body {
    @extend .relative;

    h1 {
      @extend .f2;
      @extend .mt4;
    }
    h2 {
      @extend .f3;
      @extend .bw0;
      @extend .pb0;
      @extend .mt4;
    }
  }

  .article__title h2 {
    @extend .f3;
  }
  .article__body h1 {
    @extend .f4;
  }
  .article__body h2 {
    @extend .f5;
  }

  .page__body h1,
  .page__body .f2,
  .article__title h2 {
    @extend .normal;
    @extend .mid-gray;
    @extend .b--mid-gray;
    @extend .bb;
    @extend .bw1;
    @extend .pb3;
  }

  .article__body,
  .page__body {
    ol, ul {
      @extend .pa0;
      @extend .list-position-inside;
    }

    p, li, video, iframe {
      @extend .measure-wide-l;
      @extend .measure-m;
      @extend .lh-copy;
      @extend .mw-100;
    }

    > p,
    > ul > li {
      @extend .w-60-ns;
    }

    p:empty:last-child {
      display: none;
    }
  }
}

.open-close {
  @include plusMinus(18px, 2px, $dark-gray);
  @extend .absolute;
  @extend .right-0;
  @extend .bn;
  @extend .bg-transparent;
  top: 50%;
  margin-top: -9px;
}

.clickable {
  @extend .relative;
  cursor: pointer;
}

.collapsed {
  display: none !important;
}
