.slides {
  @extend .flex;
  @extend .flex-column;
  @extend .items-start;

  p:empty:first-of-type {
    display: none;
  }

  .slide {
    @extend .flex;
    @extend .flex-column;
    @extend .justify-center;

    @extend .near-white;
    @extend .w-100;
    @extend .min-vh-100;
    padding-left: 20%;
    padding-right: 20%;

    p {
      @extend .measure-wide;
    }

    h1, h2 {
      @extend .measure-narrow-title;
    }


    &:nth-of-type(1) {
      background: $secondary-color;
    }
    &:nth-of-type(2n) {
      @extend .bg-dark-gray;
    }
    &:nth-of-type(3n) {
      @extend .bg-mid-gray;

      @extend .ph4-l;
      @extend .flex;
      @extend .flex-row;
      @extend .justify-around;
      @extend .items-center;

      > section {
        @extend .w-20;
      }
    }
  }
}
