@import 'components/links';

.slides__nav {
  @extend .dn;
  @extend .db-ns;
  @extend .fixed-ns;
  @extend .left-2;
  top: 50%;

  > ul {
    @extend .list;
  }

  li {
    @extend .mb2;
  }

  .active a {
    @extend .o-100;
    @extend .bg-white;
  }

  a {
    @extend .br-100;
    @extend .bg-near-white;
    @extend .o-70;
    @extend .db;
    font-size: 0;

    height: 8px;
    width: 8px;
  }

  &[data-state="alternate"] a {
    @extend .bg-mid-gray;
  }
  &[data-state="alternate"] .active a {
    @extend .bg-dark-gray;
  }
}

.slides {
  @extend .flex;
  @extend .flex-column;
  @extend .items-start;
  @extend .relative;
  scroll-behavior: smooth;
  // height: 100vh;
  // scroll-snap-type: mandatory;
  // scroll-snap-points-y: repeat(100%);
  // overflow-y: auto;
  // scroll-snap-destination: 50% 0;

  p:empty:first-of-type {
    display: none;
  }

  .slide {
    @extend .flex;
    @extend .flex-column;
    @extend .justify-center;

    @extend .w-100;
    @extend .min-vh-100;
    @extend .ph4;
    @extend .ph6-ns;
    @extend .ph7-l;

    &.slide--auto-height {
      min-height: auto;
    }

    &:not(.slide--auto-height) {
      p {
        @extend .measure-wide;
      }

      h1, h2 {
        @extend .normal;
      }

      a {
        @include link-state('near-white', 'light-gray');
        @include link-state('underline', 'no-underline');
      }
    }

    &:nth-of-type(1) {
      @extend .near-white;
      background: $secondary-color;

      p {
        @extend .f4;
      }
    }
    &:nth-of-type(2) {
      @extend .near-white;
      @extend .bg-dark-gray;

      @extend .flex-row-ns;
      @extend .flex-wrap;
      @extend .ph0-ns;

      h1 {
        @extend .w-100;
        @extend .pl6-ns;
        @extend .pl7-l;
        @extend .self-end;
      }

      p {
        @extend .w-25-ns;
        @extend .w-20-l;

        &:not(:last-child) {
          @extend .mr4-ns;
        }
      }
    }
    &:nth-of-type(3) {
      @extend .near-white;
      @extend .bg-mid-gray;

      @extend .ph4-l;
      @extend .flex-row-ns;
      @extend .justify-between-ns;
      @extend .justify-center-l;
      @extend .items-center-ns;

      > section {
        @extend .w-30-m;
        @extend .w-25-l;

        &:not(:last-child) {
          @extend .mr4;
        }

        h1 {
          @extend .nowrap;
        }
      }

      p {
        @extend .f4-l;
      }
    }
  }
}
