.columns {
  @extend .flex;
  justify-content: space-between;
  list-style-position: inside;
  padding-left: 0;

  > li {
    padding-right: 1em;
  }
}

.footnotes ol {
  margin-top: 1.5em;
  padding-left: 0;
}

.in-sidebar {
  @extend .absolute;
  @extend .right-0;
  @extend .w-30;
  @extend .f6;
  @extend .mid-gray;

  &:last-child,
  &.last-item,
  &.last {
    bottom: 0;
  }

  .footnote-return {
    display: none;
  }
}

[aria-describedby] + div {
  @extend .absolute;
  left: -500em;
}
