@import 'components/positions';
@import 'components/lists';
@import 'components/links';

.columns {
  @extend .flex;
  @extend .justify-between;
  @extend .list-position-inside;
  @extend .pl0;

  > li {
    @extend .pr3;
  }
}

.footnotes {
  hr {
    @extend .bt;
    @extend .bb-0;
    @extend .bl-0;
    @extend .br-0;
    @extend .b--mid-gray;
    @extend .mv4;
  }

  &.in-sidebar-too {
    @extend .dn-ns;
  }

  ol {
    @extend .mt3;
    @extend .pa0;

    > li {
      @extend .mb2;
    }
  }
}

.in-sidebar {
  @extend .dn;
  @extend .db-ns;
  @extend .absolute-ns;
  left: 70%;
  @extend .w-30-ns;
  @extend .f6;
  @extend .mid-gray;

  &[data-footnote-number]:before {
    content: attr(data-footnote-number) ".";
    @extend .link-color;
    @extend .absolute;
    @extend .left--1;
    @extend .bb;
    @extend .b--dark-red;
  }

  &.in-sidebar--from-content {
    @extend .db;
  }

  > ul,
  > ol,
  .article__body & > ul,
  .article__body & > ol {
    @extend .list-outside;
    @extend .pl3;
  }

  a {
    @extend .link-arrow;
    @extend .pb1;
    @extend .toggle-u-nou;
  }

  .footnote-return {
    @extend .dn;
  }
}

[aria-describedby] + div {
  @extend .absolute;
  left: -500em;
}
