@import 'components/links';

.link-color {
  color: $secondary-color;
}

.link-color-active {
  color: saturate($secondary-color, 25%);
}

main, [role="main"] {
  h1 {
    @extend .f1;
    @extend .b;
  }
  h2 {
    @extend .f2;
    @extend .mid-gray;
    @extend .normal;
    @extend .bb;
    @extend .bw1;
    @extend .b--mid-gray;
    @extend .pb3;
  }
  h3 {
    @extend .f3;
    @extend .normal;
  }
  h4 {
    @extend .f4;
    @extend .normal;
  }

  h1, h2, h3, h4 {
    @extend .lh-title;
  }

  p, li {
    @extend .lh-copy;
  }

  a {
    @include link-state('link-color', 'link-color-active');
  }
}

.measure-narrow-title {
  max-width: 15em;
}
