@import 'components/links';

.arial {
  font-family: arial, sans-serif;
}

.open-sans {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.link-color {
  color: $secondary-color;
}

.link-color-active {
  color: saturate($secondary-color, 25%);
}

.b--link-color {
  border-color: $secondary-color;
}

.b--link-color-active {
  border-color: saturate($secondary-color, 25%);
}

main, [role="main"] {
  h1 {
    @extend .f1;
    @extend .b;
  }
  h2 {
    @extend .f2;
    @extend .normal;
  }
  h3 {
    @extend .f3;
    @extend .normal;
  }
  h4 {
    @extend .f4;
    @extend .normal;
  }

  h1, h2, h3, h4 {
    @extend .lh-title;
  }

  h5, h6 {
    @extend .lh-copy;
  }

  h1, h2, h3, h4, h5, h6 {
    @extend .open-sans;
  }

  p, li {
    @extend .lh-copy;
  }

  a {
    @include link-state('link-color', 'link-color-active');
    @extend .break-word;
  }
}

.measure-narrow-title {
  max-width: 15em;
}
