$main-color: #4A4A4A;
$secondary-color: #E6142D;

$dark-gray: $main-color;
$mid-gray: #6F6E6E;

$breakpoint-medium: 'screen and (min-width: 30em) and (max-width: 70em)' !default;
$breakpoint-large: 'screen and (min-width: 70em)' !default;
