$main-color: #4A4A4A;
$secondary-color: #E6142D;

$sans-serif: Open sans, -apple-system, BlinkMacSystemFont, helvetica, 'helvetica neue', arial, sans-serif;

$dark-gray: $main-color;
$mid-gray: transparentize($dark-gray, 0.25);
