@import 'variables';
@import 'vendor/tachyons/scss/variables.scss';
@import 'vendor/tachyons/tachyons.scss';
@import 'typography';
@import 'home';
@import 'enquetes';
@import 'cards';
@import 'articles';
@import 'bibliography';
@import 'header';
@import 'toc';
@import 'markdown_styles';

p:empty {
  display: none;
}

.ml-n1 {
  margin-left: -0.5em;
}

body {
  @extend .arial;
  @extend .w-100;
  @extend .bg-near-white;
  color: $main-color;

  > section {
    @extend .flex;
    @extend .items-start;

    > aside {
      @extend .dn;
      @extend .db-l;
      @extend .w-20-l;
    }

    main,
    [role="main"] {
      @extend .w-100;
      @extend .mh4;
      @extend .w-60-l;
      @extend .mh0-l;
    }
  }
}
