@import 'variables';
@import 'vendor/tachyons/scss/variables.scss';
@import 'vendor/tachyons/tachyons.scss';
@import 'typography';
@import 'home';
@import 'enquetes';
@import 'articles';
@import 'bibliography';
@import 'header';
@import 'toc';
@import 'markdown_styles';

p:empty {
  display: none;
}

.ml-n1 {
  margin-left: -0.5em;
}

body {
  @extend .sans-serif;
  @extend .w-100;
  @extend .bg-near-white;
  color: $main-color;

  > section {
    @extend .flex;
    @extend .items-start;

    aside {
      @extend .w-20;
    }

    main,
    [role="main"] {
      @extend .w-60;
    }
  }
}
