{{ $activeMenu := newScratch }}
<header class="site-header" role="banner">
  <a href="{{ "/" | relLangURL }}" rel="home" class="site-logo">
    <img src="{{ "/img/logo-DIME-SHS.svg" | relURL }}" alt="{{ .Site.Title }}">
  </a>

  <nav class="main-navigation">
    <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    {{- $isActive := or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) -}}
    {{ if $isActive }}{{ $activeMenu.Set "active" . }}{{ end }}
    <li class="navigation-item{{ if $isActive }} navigation-item--active active{{end}}">
      <a href="{{ (index .Children 0).URL }}">{{ .Title | default .Page.Title }}</a>
    </li>
    {{ end }}
    </ul>
  </nav>

  {{- with ($activeMenu.Get "active") -}}
  {{- $CurrentMenu := . -}}
  <nav class="secondary-navigation">
    <ul>
      {{ range .Children }}
      <li class="navigation-item{{ if $currentPage.IsMenuCurrent "main" . }} navigation-item--active active{{end}}">
        <a href="{{ .URL }}">{{ .Title | default .Page.Title }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
  {{- end -}}

  <aside class="language-picker">
    <ul>
      {{ range $.Site.Home.AllTranslations }}
      {{ $Language := . }}
      <li style="{{ if eq $.Lang .Lang }}font-weight:bold{{ end }}">
        {{ $Translation := index (where $.Translations "Lang" .Lang) 0 }}
        {{ if (default "" $Translation) }}
        <a href="{{ $Translation.URL }}" lang="{{ $Language.Lang }}">{{ $Translation.Language.LanguageName }}</a>
        {{ else if eq $.Lang .Lang }}
        {{ .Language.LanguageName }}
        {{ else }}
        <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </aside>
</header>
