{{ define "main" }}

<main>
  <section class="slides">
    <nav class="slides__nav" data-item-options="no-scroll"><ul></ul></nav>

    {{ .Page.Content }}
  </section>

  <section class="slide slide--auto-height" data-section="{{ .Page.Kind }}" data-slides-nav-state="alternate" id="news">
    <aside class="table-of-contents" role="aside">
      {{ block "toc" . }}{{ end }}
    </aside>

    <section role="main">
      <h1>{{ i18n "news" }}</h1>
      {{- range first 5 (where (where .Site.Pages "Section" "posts") "Kind" "page") -}}
      {{ partial "contents/post.html" . }}
      {{- end -}}

      <footer>
        {{- $News := .Site.GetPage "/actualites" -}}
        <ul class="cta-list">
          <li class="closed"><a href="{{ $News.Permalink | absURL }}">{{ i18n "read_all_news" }} <span class="open-close"></span></a></li>
        </ul>
      </footer>
    </section>

    <aside class="sidenotes" role="aside">
      {{ block "sidenotes" . }}{{ end }}
    </aside>
  </section>
</main>

{{ end }}
