---
layout: default
---
{% for item in site.data.enquetes %}
{% assign data = item[1] %}
<h1>{{ data.title }}</h1>

<ul>
  {% for enquete in data.items %}
  <li class="flex mb3">
    <div class="w-75">
      <p class="measure">
        <strong>{{ enquete.title}}</strong>
        ({{ enquete.date | replace: ' ', '&nbsp;' }})
        {{ enquete.auteurs | join: ', ' }}
      </p>
    </div>
    <ul class="w-25">
      {% if enquete.lien_cdsp %}
      <li><a href="{{ enquete.lien_cdsp }}">
        Présentation de l’enquête
      </a></li>
      {% endif %}
      {% if enquete.lien_doi %}
      <li><a href="{{ enquete.lien_doi }}">
        L’enquête sur l'enquête
      </a></li>
      {% endif %}
    </ul>
  </li>
  {% endfor %}
</ul>
{% endfor %}
