---
layout: default
---

{% assign groups = site.data.publications | sort: 'date', 'last' | group_by_exp: 'd', 'd.category | default: "other"' %}
{% assign collections = site.publications | sort: 'sort_order' %}

<div class="lh-copy f4">{{ content }}</div>

{% for collection in collections %}
<h1 class="f2 lh-headline">{{ collection.name }}</h1>

<ul class="list pl0">
  {% assign group = groups | where_exp: 'g', 'g.name == collection.id' | first %}
  {% for item in group.items %}
  <li class="flex" id="publication:{{ item.id }}">
    <div class="w-75">
      <h3 class="f5 lh-copy measure-wide">{{ item.title }} ({{ item.date }})</h3>
      <p class="f6 black-70 lh-copy measure">{{ item.auteurices | join: ', ' }}</p>
    </div>

    <p class="w-25">
      <span class="f6">+</span>
    </p>
  </li>
  {% endfor %}
</ul>

{% endfor %}
